
/* categories */
.categories{
	margin: 50px 0;
}
.categories img{
	width: 80%;
	padding; 20px 0;
	transition: ls;
	cursor: pointer;
}
.cateories img:hover{
	transform: scale(1.1);
}

/* latest product */

.title-box{
	background: #ca9ddf;
	color: #fff;
	width: 180px:
	padding:4px 10px;
	height: 40px;
	margin-bottom:30px;
	display:flex;
}

.title-box h2{
	font-size:30px;
}


/* products top */

.product-top img{
	width: 100%;
}
.overlay-right{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left:0;
	width: 70px;
}
.overlay-right .cart{
	cursor: pointer;
	background-color: #fff;
	color: rgb(255, 247, 247);
	height: 35px;
	width: 35px;
	font-size:20px;
	padding: 7px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.overlay-right  .btn-secondary{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.product-top:hover .overlay-right{
	opacity: 1;
	margin-left:5%;
	transition: 0.5s;
}

/* products bottom */

.product-bottom .fa{
	font-size:10px;
	width:15px;
}
.product-bottom h3{
	font-size:20px;
	font-weight:bold;
}
.product-bottom h5{
	font-size:20px;
	padding-bottom:10px;
}

/* Popular product */

.popular{
	margin: 50px 0;
}
